<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">
  <strong>Congratulations!</strong> You are now a member of Finance African
</p>
<a
  href="/users/logout"
  class="btn btn-secondary"
  style="background-color: #3f51b5;"
  >Logout</a
>
